* {box-sizing:border-box}

html
{
    scroll-behavior:auto;
    height: 100%;
}

h2
{
    font-family: 'Oswald', sans-serif;    
    font-size:1.8em;
    letter-spacing:1px;
}

h3
{
    font-family: 'Oswald', sans-serif;    
    color:black;
    font-size:1.1em;
    font-weight:900;
}

body
{
    background-color:#c3e0fc8c;
    font-family: 'Oswald', sans-serif;    
    color:black;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
}

p
{
    font-family: 'Oswald', sans-serif;    
    size:3px;
    line-height:1.3em;
    margin-bottom:0;
}

#Webpage
{
    width: auto;
    height: auto;
}
/*The space in which the directory's content will reside*/
#DirectorySpace
{
    display: flex;
    height:90px;
    padding: 2px 0;
    width:100%;
    background-color:#d3d3d3;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:#000000;
    text-align: center;
}

/*This handy little trick makes links you hover over glow a special color when hovered over*/
.link { color: #007575; }
.link:hover { color: #702963; }

/*A T symbol I made in photoshop that I liked enough to place in projects*/
.Watermark
{
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

/*navigation section allows for a clickable link to different sections of the page*/
.Directory
{
    width: 80%;
    height: auto;
    font-size: 32px;
    /*Padding value needs to be applicable for multiple platforms*/
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.LinkedInIcon
{
    width: auto;
    height: 60px;
    display: inline-block;
    vertical-align: center;
    margin: 5px;
}

#LeftSpace
{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: left;
    padding-left: 5%;
    padding-right: 1%;
}

#RightSpace
{
    display:inline-block;
    width: 39.5%;
    vertical-align: top;
    text-align: left;
    padding-right: 5%;
}

/*Nameplate is the large section with my name..*/
#NameSpace
{
    display:inline-block;
    text-align:center;
    vertical-align: top;
    width: 100%;
}
    /*Consider spicing up the cells by adding borders and what not*/


/*Large name section within Namespace that denotes a highly employable individual <3 */
.Name
{
    display:inline-block;
    font-family: 'Oswald', sans-serif;    
    color:black;
    color:#000000;
    font-size:3.5rem;
    font-weight:bold;
    letter-spacing:2px;
    margin-top: 0;
}

/*Responsible for styling the smaller portion of text just underneath my name*/
.DescOfSelf
{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#000000;
  font-size:1em;
  margin-bottom:20px;
  width: auto;
  text-align:center;
}

#NotableSkillsSpace
{
    width: 100%;
}
  
.NotableSkillsHeader
{
    line-height:.5rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
    padding-bottom: 10px;
}

.SkillContainer
{
    height:auto;
    width: 100%;
    background: #d3d3d3;
}

.Skills
{
    text-align: right;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}

.Python{width: 60%; background-color: green;}
.HTML{width: 70%; background-color: red;}
.CSS{width: 70%; background-color: orange;}
.JS{width: 60%; background-color: rgb(215, 240, 69);}
.ReactJS{width: 15%; background-color: rgb(215, 240, 69);}
.BaseC{width: 50%; background-color: blue;}
.Cpp{width: 40%; background-color: blue;}
.Csharp{width: 20%; background-color: blue;}
.Terraform{width: 50%; background-color: indigo}
.StepFunctions{width: 40%; background-color: violet;}
.AWSSAM{width: 20%; background-color: brown;}
.AWSGlue{width: 50%; background-color: black;}
.DynamoDB{width: 70%; background-color: red;}
.SQL{width: 30%; background-color: teal;}
.TestJoke{width: 100%; background-color: teal;}
.MSAzure{width: 5%; background-color: green;}
.GCP{width: 5%; background-color: orange;}

#DividerSpace0
{
    padding: 10px;
}

#AboutMe
{
    display: inline-block;
    vertical-align: top;
    text-align:left;
}

.AboutMeSpace
{
}

.AboutMeBody
{
    font-family: 'Oswald', sans-serif;    
    color:black;
    line-height:2rem;
}

#DividerSpace1
{
    padding: 10px;
}

#Experience
{
    display: inline-block;
    text-align:left;
}

.ExperienceSpace
{
}

.projectSquaredVal
{
    font-family: 'Oswald', sans-serif;    
    color:black;
    color:#000000;
}

.SqVProjectYear
{
    line-height:.5rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.SqVProjectDesc
{
    line-height:2rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.ETLPipelineProject
{
    font-family: 'Oswald', sans-serif;    
    color:black;
    color:#000000;
}
.ETLProjYear
{
    line-height:.5rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}
.ETLProjDesc
{
    line-height:2rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}
    
.projectMySite
{
    font-family: 'Oswald', sans-serif;    
    color:black;
    color:#000000;
}

.MySiteProjectYear
{
    line-height:.5rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.MySiteProjectDesc
{
    line-height:2rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.jobGeekSquad
{
    font-family: 'Oswald', sans-serif;    
    color:black;
    color:#000000;
}

.GSJobYear
{
    line-height:.5rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.GSDesc
{
    line-height:2rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

#DividerSpace2
{
    padding: 10px;
}

#Education
{
    display:block;
    text-align:left;
}

.EducationSpace
{
    display: inline-block;
}

.ACGSchool
{
    line-height:.5rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.ACGDesc
{
    font-family: 'Oswald', sans-serif;    
    line-height:2rem;
}

.MUSchool
{
    line-height:.5rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.MUDesc
{
    font-family: 'Oswald', sans-serif;    
    line-height:2rem;
}

#DividerSpace3
{
    padding: 10px;
}


#Contacts
{
    display:block;
    text-align:center;
}

.ContactSpace
{
    margin:0px 10%;
    margin-bottom:30px;
}

.ContactEntry
{
    font-family: 'Oswald', sans-serif;    
    color:black;
}

.Line
{
    width:100%;
    height:50px;
    position:relative;
}

.Line::before, .Line::after
{
    content:'';
    position:absolute;
    margin:0;
    background: #000000;
    height:2px;
    top: 50%;
    width:48%;
}

.Line::before
{
    left:0;
}

.Line::after
{
    right:0;
}

.Ring
{
    height:50px;
    width:50px;
    border:2px solid #000;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    border-radius:50%;
}

#Footer
{
    display:block;
    padding-top: 5px;
    padding-bottom:5px;
    background-color:#A7ACB6;
    text-align:center;

}


/*this section is reserved for .FooterSpace{} and its respective contents*/


.FooterSpace
{
    margin:0px 10%;
    margin-bottom:30px;
}

#VisitorCount
{
    line-height:2rem;
    font-family: 'Oswald', sans-serif;    
    color:black;
}